services:
  postgres:
    restart: unless-stopped

  redis:
    restart: unless-stopped

  api:
    image: ghcr.io/${GHCR_OWNER}/${GHCR_REPO}/api:${IMAGE_TAG}
    env_file: .env.prod
    depends_on:
      - postgres
      - redis
    restart: unless-stopped
    command: >
      sh -c "
      alembic upgrade head &&
      uvicorn app.main:app --host 0.0.0.0 --port 8000
      "
    ports:
      - "8000:8000"

  worker:
    image: ghcr.io/${GHCR_OWNER}/${GHCR_REPO}/worker:${IMAGE_TAG}
    env_file: .env.prod
    depends_on:
      - redis
      - postgres
    restart: unless-stopped
    command: celery -A app.celery_app.celery worker --loglevel=INFO -E

  flower:
    image: mher/flower:2.0
    env_file: .env.prod
    depends_on:
      - redis
    restart: unless-stopped
    ports:
      - "5555:5555"
    command: >
      celery --broker=${CELERY_BROKER_URL}
      --result-backend=${CELERY_RESULT_BACKEND}
      flower --port=5555
