fastapi
uvicorn[standard]
sqlalchemy
asyncpg
psycopg2-binary

alembic

python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
pydantic[email]

celery
redis

streamlit
httpx
pandas
plotly
retry

prometheus-client
prometheus-fastapi-instrumentator

